body {
	margin: 0px;
}
#width-container {
	width: 75%;
	margin: 0 auto;
}
#root {
	width: 75%;
	margin: 0 auto;
}
input {
	margin: 15px;
	border-radius: 2px;
}

input:focus {
	border: 3px solid #555;
}
h1 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 0px;
}

.banner-div {
	background-color: darkolivegreen;
	color: white;
	text-align: center;
	padding: 30px;
	margin: 0px;	
}

.container {
	display: grid;
	grid-template-columns: auto, auto;
	grid-template-rows: auto, auto;
	/*grid-auto-columns: 400px; used to restrict column width */
	grid-gap: 1rem;
	width: 75%;
	margin: 0 auto;
}
.container > div {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #a514ff;
	
	margin-top: 1em;
}
.answer-div {
	grid-row: 2 / 3;
	grid-column: 1 / 4;
	padding: 20px;
	text-align: center;
}
.form-div {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
.variables-div{
	grid-row: 1 / 2;
	grid-column: 2 / 4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-div > form {
	display:flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	align-items: center;
	width:200px;
	height: 280px;
	margin: 0 auto;
}
.footer {
	text-align: center;
	
}
.footer > div {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 30%;
}

